html, body { height: 100%; }

body {
	background-color: #131;
	font-family: arial;
	text-align: center;
	padding: 0 16px;
}
body a {
	color: purple;
	font-weight: bold;
}

.frame {
	min-height: 100%;
	max-width: 1024px;
	/*background-image: linear-gradient( to right, rgba(31,31,63,0.9), rgba(127,127,127,0.75), rgba(31,31,63,0.9) );*/
	background-image: linear-gradient( rgba(127,255,127,0.75) 50%, rgba(127,255,127,0.5) );
	padding: 16px;
	border: 4px solid white;
	margin: 0 auto;
	border-radius: 16px;
}

.frame a { color: black; }

.inner-frame {
	max-width: 768px;
	margin: 0 auto;
}

.top-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 512px;
	border-radius: 8px;
	border: 4px solid green;
	padding: 4px 0;
	margin: 16px auto;
}

.top-bar-link {
	font-size: larger;
	font-weight: bold;
	color: green;
	padding: 1px 3px;
	margin: 0 8px;
}

.footer {
	color: white;
	padding: 8px;
}
