html, body { height: 100%; }

body {
	background-color: #131;
	font-family: arial;
	text-align: center;
	padding: 0 16px;
}
body a {
	color: purple;
	font-weight: bold;
}

h1 {
	color: purple;
	padding: 16px 0;
}

input {
	margin:4px;
	padding: 4px;
}

input[type=submit] { min-width: 64px; }

textarea {
	margin: auto;
	width: 500px;
	height: 250px;
}

select { padding: 4px; }
select option { padding: 4px; }

.frame {
	min-height: 100%;
	max-width: 1024px;
	background-image: linear-gradient( rgba(127,255,127,0.75) 50%, rgba(127,255,127,0.5) );
	padding: 16px;
	border: 4px solid white;
	margin: 0 auto;
	border-radius: 16px;
}
.frame a { color: black; }

.inner-frame {
	max-width: 512px;
	margin: 0 auto;
}

.top-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 512px;
	border-radius: 8px;
	border: 4px solid green;
	padding: 4px 0;
	margin: 16px auto;
}
.top-bar-link {
	font-size: larger;
	font-weight: bold;
	color: green;
	padding: 1px 3px;
	margin: 0 8px;
}

.at-username {
	text-align: left;
	color: rgba(63,63,63,0.9);
}

/* Display Field Play-3 */
.display-field-play-3 {
	min-width: 256px;
	background-color: #7F7F7F;
	margin: 8px auto;
	border: 4px solid black;
	padding: 5%;
	border-radius: 4px;
}
.display-field-play-3 .rectangle {
	position: relative;
	margin: 0 auto;
	border: 4px solid #DFDFDF;
	aspect-ratio: 3 / 4;
	overflow: hidden;
}
.display-field-play-3 .center-line {
	position: absolute;
	top: calc( 50% - 2px );
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #DFDFDF;
}
.display-field-play-3 .center-circle {
	position: absolute;
	top: calc( 38.75% - 4px );
	left: calc( 35% - 4px );
	width: 30%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 4px solid #DFDFDF;
}
.display-field-play-3 .area {
	position: absolute;
	left: calc( 10% - 4px );
	width: 80%;
	aspect-ratio: 1;
	border-radius: 35%;
	border: 4px solid #DFDFDF;
}
.display-field-play-3 .own-area {
	top: -40%;
}
.display-field-play-3 .other-area {
	bottom: -40%;
}
.display-field-play-3 .round-icon {
	position: absolute;
	width: 10%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 4px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
	min-width: 32px;
}
.display-field-play-3 .own-bot-keeper {
	left: calc( 45% - 4px );
	top: 5%;
	background-color: green;
}
.display-field-play-3 .other-bot-keeper {
	left: calc( 45% - 4px );
	bottom: 5%;
	background-color: green;
}
.display-field-play-3 .own-player {
	left: 15%;
	top: 25%;
	background-color: #36c;
}
.display-field-play-3 .own-partner {
	right: 15%;
	top: 25%;
	background-color: #966;
}
.display-field-play-3 .bot-left {
	left: 15%;
	bottom: 25%;
	background-color: #993;
}
.display-field-play-3 .bot-right {
	right: 15%;
	bottom: 25%;
	background-color: #993;
}

/* Display Field Play-5 */
.display-field-play-5 {
	background-color: #7FAF5F;
}
.display-field-play-5 .rectangle {
	position: relative;
	margin: 0 auto;
	border: 4px solid #DFDFDF;
	aspect-ratio: 2 / 3;
	overflow: hidden;
}
.display-field-play-5 .center-line {
	position: absolute;
	top: calc( 50% - 2px );
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #DFDFDF;
}
.display-field-play-5 .center-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 30%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 4px solid #DFDFDF;
}
.display-field-play-5 .area {
	position: absolute;
	left: 50%;
	transform: translateX( -50% );
	width: 75%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 4px solid #DFDFDF;
}
.display-field-play-5 .own-area {
	top: 0;
	transform: translate( -50%, -62.5% );
}
.display-field-play-5 .other-area {
	bottom: 0;
	transform: translate( -50%, 62.5% );
}
.display-field-play-5 .round-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 4px solid #000;
	min-width: 16px;
}
.display-field-play-5 .keeper {
	left: 50%;
	transform: translateX( -50% );
	background-color: green;
}
.display-field-play-5 .own-keeper {
	top: 5%;
}
.display-field-play-5 .other-keeper {
	bottom: 5%;
}
.display-field-play-5 .own {
	background-color: blue;
	transform: translate( -50%, -50% );
}
.display-field-play-5 .bot {
	background-color: red;
	transform: translate( -50%, 50% );
}
.display-field-play-5 .own-RB {
	left: 20%;
	top: 20%;
}
.display-field-play-5 .own-CB {
	left: 50%;
	top: 15%;
}
.display-field-play-5 .own-LB {
	left: 80%;
	top: 20%;
}
.display-field-play-5 .own-RM {
	left: 25%;
	top: 30%;
}
.display-field-play-5 .own-CM {
	left: 50%;
	top: 30%;
}
.display-field-play-5 .own-LM {
	left: 75%;
	top: 30%;
}
.display-field-play-5 .own-RF {
	left: 30%;
	top: 40%;
}
.display-field-play-5 .own-CF {
	left: 50%;
	top: 45%;
}
.display-field-play-5 .own-LF {
	left: 70%;
	top: 40%;
}
.display-field-play-5 .bot-RB {
	left: 80%;
	bottom: 20%;
}
.display-field-play-5 .bot-CB {
	left: 50%;
	bottom: 15%;
}
.display-field-play-5 .bot-LB {
	left: 20%;
	bottom: 20%;
}
.display-field-play-5 .bot-RM {
	left: 75%;
	bottom: 30%;
}
.display-field-play-5 .bot-CM {
	left: 50%;
	bottom: 30%;
}
.display-field-play-5 .bot-LM {
	left: 25%;
	bottom: 30%;
}
.display-field-play-5 .bot-RF {
	left: 70%;
	bottom: 40%;
}
.display-field-play-5 .bot-CF {
	left: 50%;
	bottom: 45%;
}
.display-field-play-5 .bot-LF {
	left: 30%;
	bottom: 40%;
}

/* Display Generic Attributes */
.display-generic-attributes {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(5, 1fr);
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-generic-attributes-header,
.display-generic-attributes-body {
	padding: 8px;
}
.display-generic-attributes-header {
	background: green;
}
.display-generic-attributes-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}

/* Display Generic Attributes Play-3 */
.display-generic-attributes-play-3 {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(5, 1fr);
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-generic-attributes-play-3-header,
.display-generic-attributes-play-3-body {
	padding: 8px;
}
.display-generic-attributes-play-3-header {
	background: green;
}
.display-generic-attributes-play-3-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}

/* Display Generic Attributes Upgrade */
.display-generic-attributes-upgrade {
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(5, 1fr);
	margin: 8px auto;
	border: 4px solid green;
	padding: 1px;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-generic-attributes-upgrade-header,
.display-generic-attributes-upgrade-body {
	margin: 1px;
	padding: 8px;
}
.display-generic-attributes-upgrade-header {
	background: green;
}
.display-generic-attributes-upgrade-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}

/* Display Mates Overview */
.display-mates-overview {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr 3fr;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-mates-overview-header,
.display-mates-overview-body {
	padding: 8px;
}
.display-mates-overview-header {
	background: green;
}
.display-mates-overview-body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}
.display-mates-overview-body a {
	color: purple;
}
.display-mates-overview-body.at-username {
	justify-content: flex-start;
}

/* Display Mates Requests */
.display-mates-requests {
	display: grid;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-mates-requests-received { grid-template-columns: 3fr 5fr 3fr 5fr; }
.display-mates-requests-sent     { grid-template-columns: 3fr 5fr 3fr 3fr; }
.display-mates-requests {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr 3fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-mates-requests-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.display-mates-requests-body a {
	color: purple;
}
.display-mates-requests-body.at-username {
	justify-content: flex-start;
}

/* Display Play-5 Arrange Players */
.display-play-5-arrange-players {
	display: grid;
	grid-template-rows: repeat(auto-fill, auto);
	grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 2fr;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-play-5-arrange-players .display-header,
.display-play-5-arrange-players .display-body {
	padding: 8px;
}
.display-play-5-arrange-players .display-header {
	background: green;
}
.display-play-5-arrange-players .display-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}
.display-play-5-arrange-players .display-body.player-name {
	color: #3f3f3f;
}

/* Display Play-5 Game Result */
.display-play-5-game-result {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-play-5-game-result .display-header,
.display-play-5-game-result .display-body {
	padding: 8px;
}
.display-play-5-game-result .display-header {
	background: green;
}
.display-play-5-game-result .display-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}

/* Display Play-5 Selected Players */
.display-play-5-selected-players {
	display: grid;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-play-5-selected-players.arrange { grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr; }
.display-play-5-selected-players.game    { grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr; }
.display-play-5-selected-players .display-header,
.display-play-5-selected-players .display-body {
	padding: 8px;
}
.display-play-5-selected-players .display-header {
	font-weight: bold;
}

/* Display Play-5 Selection Options */
.display-play-5-selection-options {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	padding: 1%;
}

/* Display Player Applications */
.display-player-applications {
	display: grid;
	grid-template-columns: 3fr 3fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-player-applications-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.display-player-applications-body a {
	color: purple;
}

/* Display Player Invites */
.display-player-invites {
	display: grid;
	grid-template-columns: 3fr 3fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-player-invites-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.display-player-invites-body a {
	color: purple;
}

/* Display Playing Attributes */
.display-playing-attributes {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-playing-attributes-header,
.display-playing-attributes-body {
	padding: 4px;
}
.display-playing-attributes-header {
	font-weight: bold;
}
.display-playing-attributes-body {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 4fr 1fr;
}

/* Display Playing Attributes Upgrade */
.display-playing-attributes-upgrade {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-playing-attributes-upgrade-header,
.display-playing-attributes-upgrade-body {
	padding: 4px;
}
.display-playing-attributes-upgrade-header {
	font-weight: bold;
}
.display-playing-attributes-upgrade-body {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 4fr 1fr auto;
}
.display-playing-attributes-upgrade-body-cell {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Display Rankings */
.display-ranking {
	display: grid;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-ranking-players { grid-template-columns: 1fr 3fr 5fr 3fr 1fr; }
.display-ranking-teams   { grid-template-columns: 1fr 1fr 3fr 1fr 1fr; }
.display-ranking-header,
.display-ranking-body {
	padding: 8px;
}
.display-ranking-header {
	background: green;
}
.display-ranking-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}
.display-ranking-body a {
	color: purple;
}

/* Display Search Results */
.display-search-results {
	display: grid;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-search-results-players { grid-template-columns: 3fr 5fr 3fr 1fr; }
.display-search-results-teams   { grid-template-columns: 1fr 3fr 2fr 1fr; }
.display-search-results-header,
.display-search-results-body {
	padding: 8px;
}
.display-search-results-header {
	font-weight: bold;
}
.display-search-results-body a {
	color: purple;
}

/* Display Team Applications */
.display-team-applications {
	display: grid;
	grid-template-columns: 3fr 5fr 5fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-team-applications-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.display-team-applications-body a {
	color: purple;
}

/* Display Team Invites */
.display-team-invites {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-team-invites-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.display-team-invites-body a {
	color: purple;
}

/* Display Team Profile Members */
.display-team-profile-members {
	display: grid;
	grid-template-columns: 1fr 3fr 5fr 1fr;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}
.display-team-profile-members-header,
.display-team-profile-members-body {
	padding: 8px;
}
.display-team-profile-members-header {
	background: green;
}
.display-team-profile-members-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}
.display-team-profile-members-body a {
	color: purple;
}

/* Display Own Team Members */
.display-own-team-members {
	display: grid;
	grid-template-columns: 3fr 3fr 5fr 1fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}
.display-own-team-members-header,
.display-own-team-members-body {
	padding: 8px;
}
.display-own-team-members-header {
	font-weight: bold;
}
.display-own-team-members-body a {
	color: purple;
}

/* Grid Ignore Element */
.grid-ignore-element { display: contents; }

/* Grid Span Columns */
.grid-span-col-2 { grid-column: 1 / span 2; }
.grid-span-col-3 { grid-column: 1 / span 3; }
.grid-span-col-4 { grid-column: 1 / span 4; }
.grid-span-col-5 { grid-column: 1 / span 5; }

.mail-entry {
	width: 512px;
	margin: 16px auto;
	border-left: 4px solid green;
	padding-left: 4px;
}

.mail-entry-header { display: flex; padding: 0 8px; }
.mail-entry-header-sender { margin-right: auto; }
.mail-entry-header-time { margin-left: auto; }

.mail-entry-text {
	display: block;
	background-color: rgba(55,55,55,0.5);
	color: lightgray;
	font-family: Verdana, sans-serif;
	line-height: 1.5;
	text-align: left;
	margin-top: 4px;
	padding: 8px 16px;
	border-radius: 16px;
}

.button-upgrade-generic-attribute {
	
}

.button-upgrade-playing-attribute {
	min-width: 27px !important;
}

.logout-link a {
	color: darkred;
	text-decoration: none;
}

.footer {
	color: white;
	padding: 8px;
}