/* Display Mates Requests */

.display-mates-requests {
	display: grid;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}

.display-mates-requests-received { grid-template-columns: 3fr 5fr 3fr 5fr; }

.display-mates-requests-sent     { grid-template-columns: 3fr 5fr 3fr 3fr; }

.display-mates-requests {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr 3fr;
	background-color: rgba(255,255,255,0.1);
	margin: 4px auto;
	border: 2px solid purple;
	padding: 2px;
}

.display-mates-requests-body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.display-mates-requests-body a {
	color: purple;
}

.display-mates-requests-body.at-username {
	justify-content: flex-start;
}
