/* Display Rankings */

.display-ranking {
	display: grid;
	margin: 8px auto;
	border: 4px solid green;
	border-radius: 8px;
	font-weight: bold;
	color: white;
}

.display-ranking-players { grid-template-columns: auto auto 3fr auto auto; }

.display-ranking-teams   { grid-template-columns: auto auto 1fr auto auto; }

.display-ranking-header,
.display-ranking-body {
	padding: 8px;
}

.display-ranking-header {
	background: green;
}

.display-ranking-body {
	background: linear-gradient( rgba(0,170,0,1), rgba(0,170,0,0.75) );
}

.display-ranking-body a {
	color: purple;
}

.display-ranking-players > .player-name {
  text-align: left;
}
