html {display: table;margin: auto;}
body {display: table-cell;vertical-align: middle;background-color: #009900;font-family: Arial;}
body a{color: #BBDDBB;}
#header {text-align: center;background-color: #007700;width: 1024px;height: 32px;}
#container {overflow: hidden;}
#menu {background-color: #007700;width: 128px;min-height: 864px;float: left;margin-bottom: -32767px;padding-bottom: 32767px;}
#menu_div {padding: 10px;}
#content_div {padding: 10px;}
#content {background-color: #99BB99;color: #000000;text-align: left;width: 864px;float: left;border-right: 32px solid #007700;margin-bottom: -32767px;padding-bottom: 32767px;}
input {color: #000000;background-color: #AACCAA;margin: auto;padding: 3px;border: 2px solid #990000;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px #BDB inset !important;}
.button1 {background-color: #007700;color: #DDFFDD;padding: 4px;border: 2px solid #990000;}
.table1 {text-align: center;color: #000000;font-size: 16;font-weight: bold;}
#footer {color: #003300;text-align: center;background-color: #007700;height: 32px;width: 1024px;}