html {margin: auto;}
html a {color:purple;font-weight:bold;}
.top-bar {width:512px;border: 4px solid green; padding: 2px 0; margin:;}
.top-bar-link {font-size:larger;font-weight:bold;color:green;text-decoration:none;padding: 1px 3px;}
#content {min-height:100%;}
h1 {color:purple}
table {text-align:center;}
table a {text-decoration:none;}
.table1 {background: limegreen;width:512px;padding:4px;border: 4px solid purple; border-radius:16px}
.table1 th {min-width: 96px;}
.table2, .table2 a {color:white;}
.table2 th {background:limegreen;border: 2px solid white; border-radius:32px;}
.table2 td {background:green;border: 2px solid white; border-radius:32px;}
#table2-qmatch th {background:limegreen;min-width:64px;}