html {margin: auto;}
html a {color:purple;font-weight:bold;}
.top-bar {width:512px;border:4px solid green;padding:4px 0;margin:16px 0;}
.top-bar-link {font-size:larger;font-weight:bold;color:green;text-decoration:none;padding: 1px 3px;margin:0 8px;}
#content {min-height:100%;}
h1 {color:purple; padding: 16px 0;}
.content {background-image:linear-gradient(lightgreen 50%, white);width:768px;padding:16px 4px;border:4px solid purple;border-radius:16px;}
.content a {color:black;}
input {margin:4px;padding:4px;}
input[type=submit]{min-width:64px;}
textarea {margin:auto;width:500px;height:250px;}
select {padding:4px;}
select option {padding:4px;}
table {text-align:center;}
table.table2 {border:4px solid green;border-radius:8px;}
.table1 {background-color:rgba(255,255,255,0.1);width:512px;border:2px solid purple;padding:2px;}
.table1 a {color:purple}
.table1 th {min-width: 96px;}
.table2, .table2 a {font-weight:bold;color:white;text-decoration:none;}
.table2 th {background:green;}
.table2 td {background:linear-gradient(rgba(0,170,0,1),rgba(0,170,0,0.75));}
#table2-qmatch th {background:limegreen;min-width:64px;}